<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>Nombre de la applicación</title>
</head>

<body>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="firstTab" class="nav-link text-dark active" href="#">Seguimiento e Interacción</a>
        </li>
        <li class="nav-item">
            <a id="secondTab" class="nav-link text-dark" href="#">Registro de acciones</a>
        </li>
    </ul>



    <div id="content" class="container-fuild p-3">
    </div>


    <!-- Bootstrap and jQuery imports -->
    <script>
        window.$ = window.jQuery = require('jquery');
        window.Bootstrap = require('bootstrap');
    </script>

    <!-- Custom imports -->
    <script src="./renderer.js "></script>
    <script src="./Menu.js "></script>
</body>

</html>