<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hacer reservación</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>


    <div class="container-fuild">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Información de propuesta o reservación</h3>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Fecha de entrada:</span>
                    </div>
                    <input id="checkInDate" type="date" class="form-control" aria-label="Fecha de entrada" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Fecha de salida:</span>
                    </div>
                    <input id="checkOutDate" type="date" class="form-control" aria-label="Fecha de salida" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Número de cuartos</span>
                    </div>
                    <input id="roomsQuantity" type="number" min="1" class="form-control" placeholder="Número de cuartos" aria-label="Número de cuartos" aria-describedby="basic-addon1">
                </div>

            </div>
            <div class="col">
                <h3 class="text-center">Información de seguimiento</h3>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Persona Encargada:</span>
                    </div>
                    <input id="whoIsInCharge" type="text" class="form-control" placeholder="Nombre" aria-label="Persona Encargada" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">Número telefónico</span>
                    </div>
                    <input id="phoneNumber" type="tel" class="form-control" placeholder="71234567" aria-label="Número telefónico" aria-describedby="basic-addon2">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Correo electrónico</span>
                    </div>
                    <input id="personEmail" type="email" class="form-control" placeholder="foo@example.com" aria-label="e-mail" aria-describedby="basic-addon3">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Otros</span>
                    </div>
                    <textarea id="additionalInfo" class="form-control" rows="4" aria-label="Otros"></textarea>
                </div>

            </div>
        </div>
    </div>

    <!-- Bootstrap and jQuery imports -->
    <script>
        window.$ = window.jQuery = require('jquery');
        window.Bootstrap = require('bootstrap');
    </script>

    <!-- Custom imports -->
    <!-- None for now -->

</body>

</html>